<div id="image-and-links">
  <img id="my-image" src="{{ .Site.Params.mainPictureURL }}" alt="{{ .Site.Params.mainPictureAlt }}">
  <ul id="my-links">
    <li>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a href="/lists/">Lists</a>
    </li>
    <li>
      <a href="/docs/">Projects</a>
    </li>
    <li>
      <a href="https://sns.mikunonaka.net/odysee">Odysee</a>
    </li>
    <li>
      <a href="https://sns.mikunonaka.net/youtube">YouTube</a>
    </li>
    <li>
      <a href="https://github.com/MikunoNaka">GitHub</a>
    </li>
    <li>
      <a href="/contact/">Contact</a>
    </li>
  </ul>
</div>

