footer {
  #gifs {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.8rem auto;

    img {
      margin: auto 0.5rem;
    }
  }
  #copyright {
    text-align: center;
    line-height: 1.1;
    font-size: 1rem;
  }
}

